body {
    background-color:#293145;
    background: url("../img/about-background.png") #293145;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90;
}


.navbar-toggler {
    color: #ffffff;
}

.navbar-item {
    margin-left: 18px;
    padding-right: 1000px;
}

.navbar-button {
    margin-top: -25px;   
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(13, 26, 37);
    z-index: 2;
    position: fixed;
}

.navbar-item {
    margin-right: 500px;
}

.navbar-nav {
    margin-left: 20px;
    margin-top: 7px;
}

.login {
    color: #747474;
    margin-top: 7px;
}

#message {
    color: #747474;
}

.about-text {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
}

h3 {
    padding-top: 120px;
    color: #da9934;
    padding-bottom: 270px;
    font-weight: 100px;
}

.footer-logo {
    width: 250px; 
    height: 34px; 
    padding-left: 60px; 
    padding-right: 70px;
}

#footer {
    background-color: #0C121E;
    padding-top: 80px;
}

#footer-items ul li {
    list-style-type: none;
}
#footer-items ul li a{
    color: #747474;
    padding-left: 20px;
}

 .fsection2{
     list-style: none;
 }

 .fsection3 {
     list-style: none;
 }
 
b {
    color: #da9934;
}

#messages {
    color: #747474;
}

#message {
    color: #747474;
}

@media (max-width: 1028px){

    body {
        background-color:#293145;
        background: url("../img/about-background.png") #293145;
        background-position:inherit;
        margin-top: 100px;
        z-index: -1;
        background-repeat: no-repeat;
        opacity: 90;
    }

    .top-logo {
        width: 200px;
    }
    
    .fsection2 {
        padding-left: 280px;
        margin-top: -27px;
        list-style: none;
    }

    .fsection3 {
        z-index: 1;
        position: relative;
        top: -24px;
        left: 600px;
        margin-top: -70px;
        list-style: none;
    }

    #message {
        font-size: 16px;
        text-align: center;
        padding-left: 5px;
        width: inherit;
    }

    
}

@media (max-width: 575.98px) {
    .about-text {
        width: inherit;
        margin-left: -100px;
        margin-right: -100px;
        margin-bottom: -100px;
    }

    .top-logo {
        margin-bottom: -100px;
    }

    h3 {
        font-size: 20px;
    }
    

    .fsection2 {
        padding-top: 80px;
        margin-left: -560px;
        width: 100%;
        
    }

    #footer {
        text-align: inherit;
    }

    .fsection3 {
        padding-top: 150px;
        margin-left: -520px;
        margin-right: 200px;
    }

    #messages {
        font-size: 14px;
    }


    #message {
        text-align: justify;
        font-size: 15px;
    }

    .footer-logo {
        text-align: center;
        margin-left: 50px;
    }
}