body {
    background-color: #293145;
    font-family: "Montserrat";
}


.navbar-toggler {
    color: #ffffff;
}

.navbar-item {
    margin-left: 18px;
    padding-right: 1000px;
}

.navbar-button {
    margin-top: -25px;   
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(13, 26, 37);
    z-index: 2;
    position: fixed;
}

.navbar-item {
    margin-right: 500px;
}

.navbar-nav {
    margin-left: 20px;
    margin-top: 7px;
}

.login {
    color: #747474;
    margin-top: 7px;
}


section {
    overflow: hidden;
}
.search {
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    
}

.fsection2 {
    list-style: none;
}

.fsection3 {
    list-style: none;
}

#messages {
    color: #747474;
}

h1 {
    font-weight: bold;
    color: #da9934;
    padding-bottom: 20px;
}

.search-area {
   
    height: 90px;
    width: 1000px;
    background-color: #3D4666;
    border-radius: 4px;
}

.search-input {
    padding-left: 20px;
    width: 900px;
    margin-top: 30px;
    background-color: #3D4666;
    border: none;
    color: #ffffff;
}

::placeholder {
    color: rgba(255,255,255,0.7);
    opacity: 4;
}
.question {
    padding-top: 50px;
    padding-bottom: 70px;
}
.question-area {
    margin-top: 20px;
    height: 50px;
    width: 1000px;
    background-color: #3D4666;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
}

.footer-logo {
    width: 250px; 
    height: 34px; 
    padding-left: 60px; 
    padding-right: 70px;
}

#footer {
    background-color: #0C121E;
    padding-top: 80px;
}

#footer-items ul li {
    list-style-type: none;
}
#footer-items ul li a{
    color: #747474;
    padding-left: 20px;
}

b {
    color: #da9934;
}


#message {
    color: #747474;
}


h5 {
    color: #da9934;
    text-align: left;
    padding-top: 12px;
    padding-left: 12px;
}

@media (max-width: 1028px) {

    .search-area {
        width: inherit;
       
    }

    .search-input{
        width:450px;
        
    
    }


    .question-area{
        width: inherit;
    }


    .fsection2 {
        padding-left: 280px;
        margin-top: -27px;
        list-style: none;
    }

    .fsection3 {
        z-index: 1;
        position: relative;
        top: -24px;
        left: 600px;
        margin-top: -70px;
        list-style: none;
    }

    #message {
        font-size: 16px;
        text-align: center;
        padding-left: 5px;
        width: inherit;
    }
}

@media (max-width: 575.98px) {

    .search {
        width: inherit;
        margin-left: -100px;
        margin-right: -100px;
    }

    .search-input{
        width: 200px;
    }

    h1 {
        font-size: 25px;
    }

    .question-area {
        padding-right: 5px;
    }

    h5 {
        font-size: 15px;
    }

    .fsection2 {
        padding-top: 80px;
        margin-left: -560px;
        width: 100%;
        
    }

    #footer {
        text-align: inherit;
    }

    .fsection3 {
        padding-top: 150px;
        margin-left: -520px;
        margin-right: 200px;
    }

    #messages {
        font-size: 14px;
    }


    #message {
        text-align: justify;
        font-size: 15px;
    }

    .footer-logo {
        text-align: center;
        margin-left: 50px;
    }

}