body{
    background-color: #293145;
    font-family: "Montserrat";
}
section {
    overflow: hidden;
}
#firstView {
    background-color: #293145;
    background: url('../img/Player-background.png') #293145;
    background-repeat: no-repeat;
    background-position: top right;
    width: fit-content;
    height: 700px;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-item {
    margin-left: 18px;
    padding-right: 1000px;
}

.navbar-button {
    margin-top: -25px;   
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.fsection2 {
    list-style: none;
}

.fsection3 {
    list-style: none;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(13, 26, 37);
    z-index: 2;
    position: fixed;
}

.active {
    color: white;
}

li {
    text-align: left;
}

.navbar-item {
    margin-right: 500px;
}

.footer-logo {
    width: 250px; 
    height: 34px; 
    padding-left: 60px; 
    padding-right: 70px;
}

.navbar-nav {
    margin-left: 20px;
    margin-top: 7px;
}


.login {
    color: #747474;
    margin-top: 7px;
}

.home-text {
    /* added newly to know if it will reduce the width of the text */
    width: 75%; 
    padding-top: 150px;
    padding-left: 100px;
}

.sub-text {
    width: 50%;
    font-size: 22px;
    font-family: "Montserrat";
    color:#ffffff;
   
}

.main-text {
    font-weight: bold;
    margin-top: 60px;
    width: 480px;
    font-family: "Montserrat";
    color:#da9934;
    font-size: 50px;
    line-height: 65px;
}

.home-button {
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
}

.body-logo {
    padding-top: 210px;
    padding-left: 130px;
}

.secondImg {
    position: relative;
    left: 350px;
    width: 1000px; height: 600px; padding-right: 140px;
}

.firstImg {
    /* z-index: -1; */
    width: 1000px; 
    height: 600px; 
    padding-top: 40px; 
    padding-left: 140px;
}



.feature1-text {
    
    z-index: 1;
        position: absolute;
        left: 100;
    /* padding-top: 699px; */
    padding-top: 220px; 
    padding-left: 900px;
}

.feature2-text {
    z-index: 1;
    position: absolute;
    left: 100;
    width: 40%;
    /* padding-top: 800px; */
}

h2 {
    color: white;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: #da9934;
}

h4 {
    width: 80%;
    color: #ffffff;
}

h7 {
    color: #c4c4c4;
}

#message {
    color: #747474;
}

#messages {
    color: #747474;
}

#download {
    padding-top: 60px;
    background-color: #34394A;
}

#footer {
    background-color: #0C121E;
    padding-top: 80px;
}

#footer-items ul li {
    list-style-type: none;
}
#footer-items ul li a{
    color: #747474;
    padding-left: 20px;
}

b {
    color: #da9934;
}

.fa-twitter :hover{
    color: #da9934;
}

.fa-facebook :hover{
    color: #da9934;
    
}

@media (max-width: 1028px){
    .main-text {
        font-size: 40px;
        line-height: 40px ;
        width: 60%;
    }
    
    .sub-text {
        width: auto;
        font-family: "Montserrat";
        color: #ffffff;
    }

    .body-logo {
        padding-top: 30px ;
        padding-left: 350px;
    }

    .firstImg{
        position: relative;
        right: 70px;
    }

    .secondImg {
        position: relative;
        left: -80px;
    }

    .feature1-text {
        z-index: 1;
        position: absolute;
        left: 100;
        padding-top: 400px; 
        padding-left: 400px;
    }
    
    .feature2-text{
        margin-top: 80px;
        width: 60%;
    }

    .fsection2 {
        padding-left: 280px;
        margin-top: -27px;
        list-style: none;
    }

    .fsection3 {
        z-index: 1;
        position: relative;
        top: -24px;
        left: 600px;
        margin-top: -70px;
        list-style: none;
    }

    #message {
        font-size: 16px;
        text-align: center;
        padding-left: 5px;
        width: inherit;
    }

}

@media (max-width: 575.98px) { 
    #firstView {
        background-color: #293145;
        background: url('../img/Player-background.png') #293145;
        background-repeat: no-repeat;
        background-position: right;
        width: fit-content;
        height: 700px;
    }

    .main-text {
        font-size: 38px;
        text-align: center;
        line-height: 40px;
        width: 100%;
    }

    .home-text {
        margin-left: -40px;
        width: 100%;
    }

    .sub-text{
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    .home-button {
        margin-left: 50px;
    }

    .body-logo {
        visibility: hidden;
    }

    .firstImg {
        
        width: 500px;
        height: 300px;
        margin-right: -500px;
        margin-left: -40px;
        padding-left: -500px;
    }

    .feature1-text {
        margin-left: -270px;
        margin-top: -140px;
        padding-right: -100px;
        margin-right: -50px;
        /* width: 100%; */
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .secondImg {
        width: 500px;
        height: 300px;
        margin-right: 20px ;
        padding-right: -20px;
        margin-top: 80px;
    }

    .feature2-text {
        margin-top: 50px;
        padding-right: -70px;
        width: inherit;
        margin-left: -50px;
    }

    
    .fsection2 {
        padding-top: 80px;
        margin-left: -550px;
        width: 100%;
        
    }

    #footer {
        text-align: inherit;
    }

    .fsection3 {
        padding-top: 150px;
        margin-left: -520px;
        margin-right: 200px;
    }

    #messages {
        font-size: 14px;
    }


    #message {
        text-align: justify;
        font-size: 15px;
    }

    .footer-logo {
        text-align: center;
        margin-left: 50px;
    }
    #download {
        padding-right: 10px;
        padding-left: 10px;
    }
 }



