body {
    background-color: #293145;
    font-family: "Montserrat";
}

section {
    overflow: hidden;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-item {
    margin-left: 18px;
    padding-right: 1000px;
}

.navbar-button {
    margin-top: -25px;   
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(13, 26, 37);
    z-index: 2;
    position: fixed;
}

li {
    text-align: left;
}

.navbar-item {
    margin-right: 500px;
}

.features-columnUpdate {
    padding-top: 400px;
   margin-left: 300px;
    padding-bottom: 120px;
    
}

.card-boxUpdate {
    
    width: 700px;
    background-color: #354064;
    /* box-shadow: 0px 0px 12px -3px #000000; */
    border-radius: 0.357rem;
    /* border: 1px solid ; */
    overflow: hidden;
    transform: translateY(0px);
    transition: 0.5s;
    margin-top: -90px;
    
}

.row {
    margin-bottom: 20px;
}

.Create-text {
    color: #da9934;
    font-size: 26px;
}

.Edit-button {
    text-align: left;
    background-color: #da9934;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-inner--text {
    font-weight: bold;
}

.form-control {
    background-color: #3D4666;
    border: none;
    color: #ffffff;
}

