body {
    background: url("../img/stadium.jpg");
    background-size: auto;
    font-family: "Montserrat";
    overflow-x: hidden;
    background-repeat: no-repeat;
    height: inherit;
    
}

section {
    overflow: hidden;
}

.navbar-toggler {
    color: #ffffff;
}

.navbar-item {
    margin-left: 18px;
    padding-right: 1000px;
}



.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(13, 26, 37);
    z-index: 1;
    position: fixed;
}

.active {
    color: white;
}

li {
    text-align: left;
}

.navbar-item {
    margin-right: 500px;
}

.navbar-nav {
    margin-left: 20px;
    margin-top: 7px;
}

.navbar-button {
    margin-top: -25px;   
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.login {
    
    color: #747474;
    margin-top: 7px;
}


.features-columnUpdate {
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 50px;
    
}

.fsection2 {
    list-style: none;
}

.fsection3 {
    list-style: none;
}


#messages {
    color: #747474;
}

.card-boxUpdate {
    
    width: 500px;
    background-color: #293145;
    box-shadow: 0px 0px 12px -3px #000000;
    text-align: center;
    border-radius: 0.357rem;
    /* border: 1px solid ; */
    overflow: hidden;
    transform: translateY(0px);
    transition: 0.5s;
    margin-top: -90px;
    

}

.ca

.pele-text {
    margin-left: 50px;
}

h1 {
    font-style: italic;
    padding-top: 100px;
    font-weight: bold;
    color: #da9934;
}

small {
    color: white;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0.5rem;
}

div label{
    text-align: left;
}

.form-control-label {
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
  }
  
  .form-text {
    display: block;
    margin-top: 0.25rem;
  }
  
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .form-row > .col,
  .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
  }


  .signup-button {
      
    margin-left: 18px;
    color: black;
    background-color: #da9934;
    font-weight: bold;
    font-size: 14px;
}

.Create-text {
    color: #da9934;
    font-size: 26px;
}

/* #input-email {
    background-color: #161a25;
} */



.card-body {
    background-color: #293145;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.5rem;
    color: #8492A6;
  } 


  .footer-logo {
    width: 250px; 
    height: 34px; 
    padding-left: 60px; 
    padding-right: 70px;
}

#footer {
    /* margin-top: -50px; */
    background-color: #0C121E;
    padding-top: 80px;
}

#footer-items ul li {
    list-style-type: none;
}
#footer-items ul li a{
    color: #747474;
    padding-left: 20px;
}

#message {
    color: #747474;
}

b {
    color: #da9934;
}

.fa-twitter :hover{
    color: #da9934;
}

.fa-facebook :hover{
    color: #da9934;
    
}

@media (max-width: 1028px) {
    h1 {
        
        visibility: hidden;
    }
    
    .card-boxUpdate {
        margin-top: -400px;
        margin-left: 75px;
    }


    .features-columnUpdate {
        padding-top: 20px;
    }


    .fsection2 {
        padding-left: 280px;
        margin-top: -27px;
        list-style: none;
    }

    .fsection3 {
        z-index: 1;
        position: relative;
        top: -24px;
        left: 600px;
        margin-top: -70px;
        list-style: none;
    }

    #message {
        font-size: 16px;
        text-align: center;
        padding-left: 5px;
        width: inherit;
    }

}

@media (max-width: 575.98px) {
    .card-boxUpdate {
        width: 300px;
        margin-left: -75px;
        /* height: 500px; */
    }


    .fsection2 {
        padding-top: 80px;
        margin-left: -560px;
        width: 100%;
        
    }

    #footer {
        text-align: inherit;
    }

    .fsection3 {
        padding-top: 150px;
        margin-left: -520px;
        margin-right: 200px;
    }

    #messages {
        font-size: 14px;
    }


    #message {
        text-align: justify;
        font-size: 15px;
    }

    .footer-logo {
        text-align: center;
        margin-left: 50px;
    }
}